POSTGRES_USER=si_keuangan
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=keuangan_db
JWT_SECRET=CHANGE_ME_TO_A_RANDOM_32_CHAR_STRING
CORS_ORIGIN=http://localhost:5173,http://localhost:80
SUPER_ADMIN_EMAIL=super@mahakam.id
SUPER_ADMIN_PASSWORD=
